<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apprecycleviewhorizontal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:configChanges="keyboardHidden|orientation"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailsActivity"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".Chatinfo" />
        <activity android:name=".BantuanActivity" />
        <activity android:name=".PenjualanActivity" />
        <activity android:name=".PesananActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PengaturanActivity" />
        <activity android:name=".BeliActivity" />
        <activity android:name=".JualActivity" />
        <activity android:name=".TrendingActivity" />
        <activity android:name=".TermahalActivity" />
        <activity android:name=".TermurahActivity" />
        <activity android:name=".Detailinfo" />
        <activity android:name=".DetailOrderKonfirmasi" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name=".DetailOrderKonfirmasi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderDetail"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.apprecycleviewhorizontal.OrderDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.apprecycleviewhorizontal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>